@charset "UTF-8";
/**********************************************************************************************************************
 * ドキュメントスタイル拡張CSS
 **********************************************************************************************************************/

/**
 * ボディ
 *   => 日本語フォントを使う。
 */
body {
    font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

/*
 * メニュー
 *   => 幅を広げる。
 */
#leftColumn {
    width: 210px;
}
#bodyColumn {
    margin-left: 237px;
}
